* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif; */
  font-family: "Poppins", sans-serif;
}
nav {
  padding-top: 40px;
  margin-left: 900px;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 10px;
  font-size: 16px;
}
#loginButton {
  background-color: #e76f51;
  padding: 12px 40px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  margin-left: 50px;
}
header {
  height: 100vh;
  background-color: #264653;
  text-decoration: none;
  color: #fff;
}
.heroImg {
  display: flex;
  padding-top: 140px;
  padding-left: 150px;
}
.rightSide {
  width: 50%;
  align-items: center;
}
.rightSide h1 {
  font-size: 48px;
  font-weight: bold;
}
#righSide {
  padding-top: 100px;
}
#featureBike {
  font-size: 48px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 50px;
}
#featurePara {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
}
.featureBikes {
  display: flex;
  align-items: center;
  padding-top: 60px;
  padding-left: 150px;
  padding-bottom: 60px;
}
#lateN {
  font-size: 48px;
  text-align: center;
  padding-bottom: 40px;
}
.card {
  width: 40%;
}
.bikeCard img {
  width: 400px;
}
.newsCard {
  display: flex;
  padding-left: 150px;
  padding-bottom: 70px;
}
.newCard {
  width: 500px;
  box-sizing: border-box;
}
.newCard p {
  inline-size: 300px;
  overflow-wrap: break-word;
}
.newCard img {
  width: 300px;
}
.newCard a {
  padding: 12px 40px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  color: #e76f51;
  border: 2px solid #e76f51;
  transition: 1s;
}
.newCard a:hover {
  background-color: #e76f51;
  color: #fff;
}
#happy {
  font-size: 48px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 50px;
  text-align: center;
}
#happy span {
  color: #e77c40;
}
.clientCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 30px;
}
.ccard {
  width: 300px;
  text-align: center;
  border: 2px solid #ad9f9b;
  border-radius: 5px;
}
.ccard img {
  width: 150px;
  padding: 15px 0 15px 0;
}
#userThree {
  border-radius: 50%;
}
.ccard p {
  padding: 10px 5px 10px 5px;
}
.ccard h5 {
  padding-bottom: 10px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
.ccard h4 {
  font-size: 20px;
}
.ccard i,
h4,
h5 {
  padding: 5px 0px 5px 0px;
}
.rating {
  padding: 5px 0px 5px 0px;
}

i {
  color: #e77c40;
}
i:hover {
  color: #264653;
}
#faqh {
  font-size: 48px;
  text-align: center;
  text-transform: capitalize;
  padding: 40px 0 40px 0;
}
#faqh span {
  color: #e77c40;
}
#faqImg {
  width: 400px;
}
.faq {
  display: flex;
  padding: 0 200px 50px 200px;
  justify-content: space-between;
}
footer {
  background-color: #264653;
  padding: 40px 0 40px 0;
  display: flex;
}
#footer {
  padding: 10px 200px 10px 200px;
}
#footer a {
  text-decoration: none;
  color: #fff;
  padding: 0px 0px 0px 10px;
}
#footer p {
  color: #fff;
  padding-left: 15px;
  padding-top: 20px;
}
#footL {
  padding-left: 300px;
}
#footL p {
  color: #fff;
  padding-left: 10px;
}
